@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  font-size:18px;
  font-weight:bold;
  text-align: center;
}


.logo-sec{
  display: flex;
  justify-content: center;
}

.logo-sec img{
  width:20%;
}

.sec2{
  display: block;
  width:100%;
  margin:auto;
  text-align: center;;
}

@media screen and (max-width:767px){
  .logo-sec img{
    width:50%;
  }
}